<!DOCTYPE html>
<html  class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Karma Shop</title>

    <!--
            CSS
            ============================================= -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/linearicons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/themify-icons.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/nice-select.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/nouislider.mincss}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ion.rangeSlider..css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/ion.rangeSlider.skinFlat.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/magnific-popup.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>

<body>

<!--Header-->
<div th:replace="fragments/header :: header_info"></div>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Chi tiết mua sách</h1>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Order Detail Area==============-->
<div class="container">

    <h3 class="row pt-5">
        <span class="col-2" th:text="${'Mã số: '+ vm2.getId()} "></span>
        <span class="col-4" th:text="${'Khách hàng: '+ vm2.getCustomerName()}"></span>
        <span class="col-6" th:text="${'Ngày mua: '+ vm2.getCreatedDate()}"></span>

    </h3>
    <h3 style="margin-top: 30px">Tống số sách: <span th:text="${vm.getTotalBook()}"></span></h3>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th colspan="1">STT</th>
                <th colspan="4">Ảnh</th>
                <th colspan="3">Tên sách</th>
                <th colspan="2">Số lượng</th>
                <th colspan="2">Giá</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderBook,iter : ${vm.getOrderBookVMS()}">
                <td colspan="1" th:text="${iter.index+1}" ></td>
                <td colspan="4">
                    <a>
                        <img style="width: auto; max-height: 250px;" th:src="${orderBook.getMainImage()}">
                    </a>
                </td>
                <td colspan="3"><a th:text="${orderBook.getName()}" th:src="@{'../../book/'+${orderBook.getBookId()}}"></a>
                </td>
                <td colspan="2" th:text="${orderBook.getAmount()}">
                </td>
                <td colspan="2" th:text="${orderBook.getPrice()}+' nghìn đồng'"></td>
                </td>
            </tr>

            </tbody>
            <tfoot>
            <tr>
                <th colspan="10">Tổng giá</th>
                <th colspan="2" th:text="${vm.getTotalPrice()}+' nghìn đồng'"></th>
            </tr>
            </tfoot>
        </table>

    </div>


</div>

<!--================End Order Detail Area=================-->

<!--Footer-->
<div th:replace="fragments/footer :: footer_info"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.9.0/sweetalert2.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/nouislider.min.js}"></script>
<script th:src="@{/js/countdown.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/cart.js}"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script th:src="@{/js/gmaps.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>

</html>